<!-- Modal de Edicao -->

<div class="modal fade" id="modal-supplier-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 90%;">
        <div class="modal-content">

            <div class="modal-header">
                <div class="row">
                    <div class="col-md-7">
                        <h2><b id="mdl-edit-title"></b></h2>
                    </div>

                    <div class="col-md-5" style="margin-top: 10px">
                        <div class="btn-group btn-block">
                            <button class="button" id="btnVoltar" style="float: right;" data-dismiss="modal">Voltar</button>
                            <button class="button" id="btn-edit-Salvar" style="float: right;">Salvar</button>
                            <button class="button" id="btn-edit-Desativar" style="float: right;">Desativar</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-body">
                <form id="frm-edit">

                    @*<input type="hidden" id="id-supplier" name="id-supplier" value="" />*@
                    <input type="hidden" id="id-tipopessoa" name="id-tipopessoa" value="" />

                    <div class="row">
                        <div class="col-md-3">
                            <label>Tipo de Pessoa:</label>
                            <input id="tipoPessoa" name="tipoPessoa" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label>Nacional:</label>
                                <select id="nacional" name="nacional" class="form-control">
                                    <option value="1">Sim</option>
                                    <option value="0">Não</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <label>Dt. Últ. Atualização:</label>
                            <input id="dtatualizacao" name="dtatualizacao" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label>Situação:</label>
                            <input id="situacao" name="situacao" class="form-control" />
                        </div>
                    </div>

                    <div id="detalhePF">
                        
                        @* CPF - NOME - EMAIL *@
                        <div class="row">
                            <div class="col-md-12"><h4 class="modal-header"><b>Detalhes</b></h4></div>
                            <div class="col-md-2">
                                <label>CPF:</label>
                                <input id="cpf" name="cpf" class="form-control" />
                            </div>
                            <div class="col-md-5">
                                <label>Nome:</label>
                                <input id="nome" name="nome" class="form-control" />
                            </div>

                            <div class="col-md-5">
                                <label>E-mail Principal:</label>
                                <input id="emailpf" name="emailpf" class="form-control" />
                            </div>                            
                        </div>

                        @* ESTADO CIVIL - PROFISSAO - FONE1 - FONE2 - FONE3 *@
                        <div class="row" style="margin-top: 12px">
                            <div class="col-md-2">
                                <label>Estado Civil:</label>                            
                                <select id="estadocivil" name="estadocivil" class="form-control"></select>
                            </div>

                            <div class="col-md-2">
                                <label>Profissão:</label>
                                <input id="profissao" name="profissao" class="form-control" />
                            </div>                       

                            <div class="col-md-2">
                                <label>Fone1:</label>
                                <input id="fone1pf" name="fone1pf" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <label>Fone2:</label>
                                <input id="fone2pf" name="fone2pf" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <label>Fone3:</label>
                                <input id="fone3pf" name="fone3pf" class="form-control" />
                            </div>
                        </div>

                        @* TIPO EMPRESA - DT NASCIMENTO - GENERO - NACIONALIDADE *@
                        <div class="row" style="margin-top: 12px">
                            <div class="col-md-3">
                                <label>Tipo de Empresa:</label>
                                <select id="tipoempresapf" name="tipoempresapf" class="form-control"></select>
                            </div>
                            <div class="col-md-3">
                                <label>Nascimento:</label>
                                <input id="dtnascimento" name="dtnascimento" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label>Gênero:</label>
                                <select id="genero" name="genero" class="form-control"></select>
                            </div>
                            <div class="col-md-3">
                                <label>Nascionalidade:</label>
                                <input id="nacionalidade" name="nacionalidade" class="form-control" />
                            </div>
                        </div>
                       
                    </div>

                    <div id="detalhePJ">
                        @* CNPJ - RAZAO SOCIAL - NOME FANTASIA - TIPO EMPRESA *@
                        <div class="row">
                            <div class="col-md-12"><h4 class="modal-header"><b>Detalhes</b></h4></div>
                            <div class="col-md-2">
                                <label>CNPJ:</label>
                                <input id="cnpj" name="cnpj" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label>RazaoSocial:</label>
                                <input id="razaosocial" name="razaosocial" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label>Nome Fantasia:</label>
                                <input id="nomefantasia" name="nomefantasia" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <label>Tipo de Empresa:</label>
                                @*<input id="tipoempresa" name="tipoempresa" class="form-control" />*@
                                <select id="tipoempresapj" name="tipoempresapj" class="form-control"></select>
                            </div>
                        </div>

                        @* DT CONSTRUCAO - PORTE - FONE1 - FONE2 - FONE3 *@
                        <div class="row" style="margin-top: 12px">
                            <div class="col-md-2">
                                <label>Data de Constituição:</label>
                                <input id="dtConstituicao" name="dtConstituicao" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label>Porte:</label>
                                @*<input id="porte" name="porte" class="form-control" />*@
                                <select id="porte" name="porte" class="form-control"></select>
                            </div>

                            <div class="col-md-2">
                                <label>Fone1:</label>
                                <input id="fone1" name="fone1" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <label>Fone2:</label>
                                <input id="fone2" name="fone2" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <label>Fone3:</label>
                                <input id="fone3" name="fone3" class="form-control" />
                            </div>
                        </div>

                        @* WEBSITE - EMAIL PRICIPAL *@
                        <div class="row" style="margin-top: 12px">
                            <div class="col-md-6">
                                <label>Website:</label>
                                <input id="website" name="website" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label>E-mail Principal:</label>
                                <input id="email" name="email" class="form-control" />
                            </div>
                        </div>

                        @* CARACTERIZACAO CAPITAL - QTD QUOTA- VLR QUOTA - CAPITAL SOCIAL *@
                        <div class="row" style="margin-top: 12px">
                            <div class="col-md-4">
                                <label>Caracterizxação do Capital:</label>
                                @*<input id="porte" name="porte" class="form-control" />*@
                                <select id="caractcapital" name="caractcapital" class="form-control"></select>
                            </div>

                            <div class="col-md-2">
                                <label>Quantidade de Quota:</label>
                                <input id="qtdquota" name="qtdquota" class="form-control" />
                            </div>

                            <div class="col-md-2">
                                <label>Valor de Quota:</label>
                                <input id="vlrquota" name="vlrquota" class="form-control" />
                            </div>

                            <div class="col-md-2">
                                <label>Capital Social:</label>
                                <input id="capitalsocial" name="capitalsocial" class="form-control" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            
        </div>
    </div>
</div>

<style>

    .modal-header {
        font-weight: bold;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #486f43;
        color: white;
    }
   
</style>