<!-- Modal de Edicao -->

<div class="modal fade" id="modal-supplier-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"><b id="mdl-title">Fornecedor Pessoa Jurídica</b></h5>
            </div>

            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <div class="btn-group" style="align-content: end">
                        <button class="button" id="btnIncluir">Incluir</button>
                        <button class="button" id="btnAbrir">Abrir</button>
                        <button class="button">Excluir</button>
                        <button class="button">Ativar</button>
                        <button class="button">Desativar</button>
                        <button class="button">Voltar</button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form id="frm-edit-pj">

                    <input type="hidden" id="id-supp" name="id-supp" />
                    
                    <div class="row">
                        <div class="col-md-12">
                            <label>Tipo de Pessoa:</label>
                            <input id="tipoPessoa" name="tipoPessoa" class="form-control" />

                            <label>Nacional:</label>
                            <input id="nacional" name="nacional" class="form-control" />

                            <label>Dt. Últ. Atualização:</label>
                            <input id="dtatualizacao" name="dtatualizacao" class="form-control" />

                            <label>Situação:</label>
                            <input id="situacao" name="situacao" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <h3 class="modal-header"><b>Degtalhes</b></h3>
                        <div class="col-md-12">
                            <label>CNPJ:</label>
                            <input id="cpfcnpj" name="cpfcnpj" class="form-control" />

                            <label>RazaoSocial:</label>
                            <input id="razaosocial" name="razaosocial" class="form-control" />

                            <label>Nome Fantasia:</label>
                            <input id="nomefantasia" name="nomefantasia" class="form-control" />

                            <label>Tipo de Empresa:</label>
                            <input id="tipoempresa" name="tipoempresa" class="form-control" />
                            @*<div class="input-group">
                                <label for="" opt-input-return">Station Return:</label>
                                <select id="opt-tipoempresa" class="form-control">
                                    <option title="Station Return">MASTER_PACK01</option>
                                    <option title="Station Return">MASTER_PACK02</option>
                                    <option title="Station Return">MASTER_PACK03</option>
                                </select>
                            </div>*@

                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button id="btn-save" type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<style>

    .deslink-inputs div {
        margin-bottom: 2rem;
        width: 40%;
    }

    .deslink-inputs label {
        color: rgba(128, 128, 128, 0.96);
        font-weight: bold;
    }

    .deslink-inputs button {
        color: #ff6500;
        border: 2px solid #ff6500;
        background: #fff;
        font-weight: bold;
        border-radius: 5px;
    }

    .deslink-inputs button:hover {
        background: #ff6500;
        border: 2px solid #ff6500;
        color: #fff;
        font-weight: bold;
    }

    .deslink-inputs #sn-input-list {
        border: 1px solid rgba(128, 128, 128, 0.10);
        border-radius: 5px;
    }

    .deslink-inputs #sn-input-list li {
        border: 0;
        background: rgba(128, 128, 128, 0.10);
        margin-bottom: 1rem;
        border-radius: 5px;
    }

    .deslink-inputs #sn-input-list li p {
        margin: unset;
    }
</style>