@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CGE Supplier Application</h1>
    <p class="lead">CGE Supplier Application - Listagem de Fornecedores. Just like a test&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">        
    </div>
    <div class="col-md-4">        
    </div>
</div>