@{
    ViewBag.Title = "Home Page";
}
<div style="margin-top:50px"></div>

<div class="jumbotron">
    <h1>CGE Supplier Application</h1>
    <p class="lead">CGE Supplier Application - Listagem de Fornecedores. Teste</p>
</div>

<div class="row">
    <div class="col-md-4"></div>    
    <div id="btn-supplier" class="col-sm-4">
        <p><a class="btn btn-success btn-lg btn-block" href="/Supplier">Listagem de Fornecedores</a></p>
    </div>
</div>
        
<div style="margin-top:100px"></div>

@*<div class="row">
    <div class="col-md-12"></div>    
</div>*@